attrs==21.4.0
bandit==1.7.4
colorama==0.4.5
flake8==4.0.1
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
glob2==0.7
iniconfig==1.1.1
Mako==1.2.1
mando==0.6.4
MarkupSafe==2.1.1
mccabe==0.6.1
numpy==1.22.3
ofxtools==0.9.5
packaging==21.3
pandas==1.4.2
parse==1.19.0
parse-type==0.6.0
pbr==5.9.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pyparsing==3.0.9
pytest==7.1.2
pytest-bdd==6.0.1
pytest-testinfra==6.8.0
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
radon==5.1.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
stevedore==4.0.0
testinfra-bdd==2.0.0
tomli==2.0.1
