---
name: CI

on:
  push:
    branches-ignore:
      - 'feature/latest'
      - 'main'
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Requirements
        run: pip install -r requirements.txt

      - name: Build
        run: echo $GITHUB_EVENT_NAME && make build

      - name: Test
        run: make test

      - name: Create Tag
        run: |
          git tag $( cat wait4localstack/VERSION )
          git push --tags
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
